.banner_section {
    background-image: url('../../assets/images/banner.png');
    padding-top: 30px;
   .banner_content {
        text-align: center;
        padding: 200px 0px;
        color: #fff;
   }
}