.header_section {
    .header_top {
        @include flexbox;
        justify-content: space-between;
        margin-bottom: 20px;
        .header_left  {
            color: $white-color;
            ul {
                @include flexbox;
                gap: 20px;
                li {
                    font-family: $roboto;
                    i {
                        margin-right: 7px;
                    }
                    span {}
                }
            }
        }
        .header_right {
            ul {
                @include flexbox;
                gap: 20px;
                li {
                    width: 40px;
                    height: 40px;
                    border: 1px solid $border-color;
                    border-radius: 100px;
                    display: inline-block;
                    text-align: center;
                    line-height: 37px;
                    @include transition($transition);
                    i {
                        color: #fff; 
                    }
                    &:hover {
                        background-color: #fff;
                        i {
                            color: $title-color;
                        }
                    }
                }
            }
             
        }
    }
    .header_bottom {
        &.sticky-menu {
            background-color: $white-color;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
            z-index: 9999999999999 !important;
        }
        .header_inner {
            background-color: $white-color;
            padding: 20px;
            border-radius: 5px; 
            .logo { }
            .primary_menu {
                ul {
                    li:not(.sub_menu li){ 
                        position: relative;
                        margin: 10px 20px;
                        @include breakpoint(max-xl) {
                            margin: 10px 14px;
                        }
                        &::after {
                            position: absolute; 
                            content: "";
                            left: 0;
                            bottom: 0;
                            background-color: $theme-color;
                            width: 100%;
                            height: 2px;
                            transform: translateY(0px);
                            @include transition($transition);
                            opacity: 0;
                        }
                        a {
                            color:  $title-color;
                            text-decoration: none; 
                            padding: 42px 0px;
                            font-size: 18px; 
                            font-family: $roboto;
                            font-weight: 500;
                            i.fa-solid.fa-chevron-down {
                                padding-left: 5px;
                            }
                        }
                        &:hover {
                            &::after {
                                transform: translateY(15px);  
                                opacity: 1;
                            }
                            .sub_menu {
                                ul {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(0px);
                                }
                            }
                        }
                        .sub_menu {
                            ul {
                                position: absolute;
                                width: 251px;
                                background: $ash-color;
                                top: 64px;
                                left: 0;
                                transform: translateY(20px);
                                @include transition($transition);
                                opacity: 0;
                                visibility: hidden;
                                z-index: 9999;
                                border-radius: 3px;
                                li {
                                    border-bottom: 1px solid $white-color;
                                    @include transition($transition);
                                    a {
                                        display: inline-block;
                                        width: 100%;
                                        padding: 10px 8px 10px 15px;
                                        height: 100%; 
                                        color: #171C26;
                                    }
                                    &:hover {
                                        background-color: $theme-color;
                                        a {
                                            color: $white-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header_btn {
                a {
                    @include button-style($white-color, $title-color);
                }
            }
        }
    }
}