// @@@@@@@@@@@@@@ category section @@@@@@@@@@@@@
.category {
    margin: 100px 0px;
    .category_area {
        .category_title {
            margin-bottom: 50px;
            text-align: center;
            h3 {
                color: $title-color;
                font-weight: 700;
            }
        }
        .category_inner { 
            position: relative;
            .category_item {
                text-align: center;
                background-color: #ffc3001f;
                padding: 20px;
                border-radius: 8px;
                height: 210px;
                img {
                    height: 90px;
                    margin-bottom: 10px;
                }
                h4 {
                    font-weight: 600;
                    font-size: 22px; 
                }
                p {
                    color: #16A571;
                    font-weight: 600;
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                width: 40px;
                height: 40px;
                background: $theme-color;
                border-radius: 100%;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                top: 50% !important;
            }
            .swiper-button-next::after,
            .swiper-button-prev::after { 
                font-size: 18px;
                color: #fff;
            }
            .swiper-button-next::after{
                content: 'next';
            }
            .swiper-button-prev::after{
                content: 'prev';
            }
            .swiper-button-next {
                right: -20px;
                left: auto
            }
            .swiper-button-prev {
                left: -20px;
                right: auto;
            }
             
        }
    }
}
// @@@@@@@@@@@@@@ category section @@@@@@@@@@@@@

// @@@@@@@@@@@@@@ product section @@@@@@@@@@@@@
.product_page {
    margin-top: 100px;
    @include breakpoint(max-lg) {
        margin-top: 80px;
    }
}
.product_section {
    margin-bottom: 100px;
    @include breakpoint(max-lg) {
        margin-bottom: 80px;
    }
    .product_title {
        margin-bottom: 50px;
        h3 {
            color: $title-color;
            font-weight: 700;
        }
    }
    .product_section_inner {
        .product_item {
            border: 1px solid $border-color;
            padding: 15px;
            border-radius: 8px;
            &:hover {
                .thumb {
                    img {
                        transform: scale(1.1);
                    }
                }
                .product_content {
                    .product_sub_title {
                        a {
                            color: $theme-color;
                        }
                    }
                    .product_btn {
                        a {
                            background-color: $theme-color;
                            color: #fff;
                        }
                    }
                }
            }
            .thumb {
                overflow: hidden;
                position: relative;
                border-radius: 8px;
                img {
                    width: 100%;
                    height: auto; 
                    @include transition($transition);
                }
            }
            .product_content  {
                .product_content_top {
                    @include flexbox;
                    justify-content: space-between;
                    margin-top: 10px;
                    .price {
                        font-weight: 600;
                        color: $title-color
                    }
                    .rating {
                        ul {
                            @include flexbox;
                            gap: 5px;
                            li {
                                color: #E96500;
                                font-size: 13px;
                            }
                        }
                    }
                }
                .product_sub_title {
                    a {
                        color: $title-color;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27px;
                        margin: 12px 0px 30px;
                        display: inline-block;
                        @include transition($transition);
                    }
                }
                .product_btn {
                    a {
                        color: $title-color;
                        border: 1px solid $theme-color;
                        padding: 10px 20px;
                        border-radius: 30px;
                        display: inline-block;
                        font-weight: 600;
                        @include transition($transition);
                        i {
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
        .view_more {
            text-align: center;
            a {
                display: inline-block;
                border: 1px solid $theme-color;
                padding: 10px 20px;
                font-weight: 600;
                font-weight: 18px;
                margin-top: 35px;
                border-radius: 8px;
                color: $title-color;
                @include transition($transition);
                &:hover {
                    background-color: $theme-color;
                    color: #fff;
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ product section @@@@@@@@@@@@@


// @@@@@@@@@@@@@@ brand section @@@@@@@@@@@@@
.brand_section {
    background-color: #16434340;
    padding: 100px 0px;
    @include breakpoint(max-lg) {
        padding: 80px 0px;
    }
    .brand_area {
        .brand_inner {
            @include flexbox;
            justify-content: space-between;
            gap: 20px;
            .brand_item {
                img {
                    width: 132px;
                    height: 90px;
                    @include breakpoint(max-lg) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ brand section @@@@@@@@@@@@@

// @@@@@@@@@@@@@@ testmonial section @@@@@@@@@@@@@
.testmonial_section {
    background-color: #164343;
    padding: 100px 0px;
    @include breakpoint(max-lg) {
        padding: 80px 0px;
    }
    .testmonial_area {
        .testmonial_title {
            margin-bottom: 50px;
            text-align: center;
            h3 {
                color: #fff;
                font-weight: 700;
            }
        }
        .testmonial_inner {
            .testmonial_item {
                border: 1px solid $border-color;
                color: #ffffff;
                padding: 30px;
                border-radius: 40px;
                &.fist_item {
                    margin-top: 70px;
                }
                .testimonial-text {
                    font-size: 16x;
                    line-height: 1.6;
                    margin-bottom: 20px; 
                }

                .testimonial-footer {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    .avatar {
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 2px solid #ffffff;
                    }

                    .info {
                        .stars {
                            ul {
                                @include flexbox;
                                gap: 7px;
                                li {
                                    font-size: 14px;
                                    color: #E96500;
                                    margin-bottom: 4px;
                                    i {

                                    }
                                }
                            }
                        }

                        h4 {
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0;
                            line-height: 30px;
                        }

                        p {
                            font-size: 16px; 
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ testmonial section @@@@@@@@@@@@@


// @@@@@@@@@@@@@@ blog section end here @@@@@@@@@@@@@@@@@
.blog_section {
    margin: 100px 0px;
    @include breakpoint(max-lg) {
        margin: 80px 0px;
    }
    .blog_area {
        .blog_title {
            margin-bottom: 50px; 
            h3 {
                color: $title-color;
                font-weight: 700;
            }
        }
        .blog_ineer {
            .blog_item {
                background: #ffffff;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08); 
                &:hover {
                    .blog-content {
                        .blog-title {
                            color: #16A571;
                        }
                    }  
                }
                /* Image */
                .blog-image {  
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover; 
                        padding: 10px;
                        border-radius: 25px; 
                        box-sizing: border-box;
                        @include transition($transition); 
                        
                    }
                }

                /* Content */
                .blog-content {
                    padding: 10px 20px 20px;

                    /* Meta */
                    .blog-meta {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 16px;
                        font-size: 15px;
                        color: #6b7280;
                        margin-bottom: 12px;
                        .meta-item {
                            i {
                                color: $theme-color;
                                margin-right: 6px;
                            }
                        }
                    }

                    /* Title */
                    .blog-title {
                        font-size: 24px;
                        font-weight: 600;
                        color: $title-color;
                        line-height: 1.4;
                        display: inline-block;
                        margin: 3px 0px 8px;
                        @include transition($transition);
                        @include breakpoint(max-xl) {
                            font-size: 20px;
                        } 
                    }

                    /* Description */
                    .blog-desc {
                        font-size: 16px;
                        color: $desc-color;
                        line-height: 1.6;
                        margin-bottom: 16px;
                    }

                    /* Button */
                    .read-more {
                        display: inline-block;
                        padding: 10px 20px;
                        border: 1.5px solid $theme-color;
                        color: $theme-color;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: none;
                        @include transition($transition);

                        &:hover {
                            background: $theme-color;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ blog section end here @@@@@@@@@@@@@@@@@


// @@@@@@@@@@@@@@ about end here @@@@@@@@@@@@@@@@@
.about_section {
    margin: 100px 0px;
    @include breakpoint(max-lg) {
        margin: 80px 0px;
    } 
    .about_section_inner {
        .about_image {
            img {
                width: 100%;
            }
        }
        .about_content {
            h2 {
                font-weight: 700;
                color: $title-color;
                margin-bottom: 20px;
            }
            p {
                 
            }
        }
    }
}


// @@@@@@@@@@@@@@ about end here @@@@@@@@@@@@@@@@@


// @@@@@@@@@@@@@@ faq section start here @@@@@@@@@@@@@@@@@
.faq_section { 
    margin-bottom: 100px;
    @include breakpoint(max-lg) {
        margin-bottom: 80px;
    }
    .faq_section_inner {
        .faq_title {
            margin-bottom: 30px;
            width: 550px;
            h3 {
                font-weight: 700;
            }
            p {
                margin-top: 15px;
            }
        }
        .faq_inner {
            .accordion-item {
                margin-bottom: 20px;
                background: #F3F6F6 !important;
                border: none !important;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                .accordion-header {
                    .accordion-button {
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        font-size: 20px;
                        font-weight: 700;
                        color: $title-color !important;
                        text-align: left;
                        overflow-anchor: none;
                        background: #F3F6F6 !important;
                        padding: 4px 20px !important;
                        border: 1px solid #ddd !important;
                        border-radius: 5px !important;
                    }
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ faq section end here @@@@@@@@@@@@@@@@@


// @@@@@@@@@@@@@@ vision start here @@@@@@@@@@@@@@@@@
.vision {
    margin: 100px 0px;
    @include breakpoint(max-lg) {
        margin: 80px 0px;
    }
    .vision_area {
        background-color: #F3F6F6;
        padding: 100px 0px;
        border-radius: 10px;
        .vision_image {
            img {
                width: 100%;
                height: auto;
            }
        }
        .vision_content {
            margin-top: 30px;
        }
    }
}
// @@@@@@@@@@@@@@ vision end here @@@@@@@@@@@@@@@@@

// @@@@@@@@@@@@@@ Contact section start here @@@@@@@@@@@@@@@@@
.contact_section {
    margin: 100px 0px;
    @include breakpoint(max-lg) {
        margin: 80px 0px;
    }
    .contact_area {
        .contact_content {
            background-color: #164343;
            border-radius: 24px;
            color: #ffffff;
            text-align: center;
            padding: 40px 0px;
            width: 100%;
            .contact_item {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0px;
                }
                h5 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                i {
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    color: $theme-color;
                    line-height: 50px;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        .contact-section { 
            .contact-card { 
                border-radius: 20px;
                padding: 15px 30px 30px;
                border: 1px solid $border-color;
                h2 {
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    color: $title-color;
                    margin-bottom: 15px;
                }
                .contact-form {
                    .form-row {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 20px;
                        margin-bottom: 25px;
                        @include breakpoint(max-md) {
                            grid-template-columns: 1fr;
                        }
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 14px 16px;
                        border-radius: 10px;
                        border: 1px solid $border-color;
                        background: transparent;
                        font-size: 14px;
                        outline: none;
                        color: #333;

                        &::placeholder {
                            color: #7a6b68;
                        }

                        &:focus {
                            border-color: #1f0f2e;
                        }
                    }

                    textarea {
                        min-height: 140px;
                        resize: none;
                        margin-bottom: 30px;
                    }

                    button {
                        width: 100%;
                        padding: 16px;
                        background: $theme-color;
                        color: #fff;
                        border: none;
                        border-radius: 10px;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                        @include breakpoint($transition);
                        &:hover {
                            background: #1f2b2a;
                        }
                    }
                }
            }
        }
    }
}
// @@@@@@@@@@@@@@ Contact section end here @@@@@@@@@@@@@@@@@


// @@@@@@@@@@@@@@ Privacy Policy start here @@@@@@@@@@@@@@@@@
.privacy_policy {
    margin: 100px 0px;
    @include breakpoint(max-lg) {
        margin: 80px 0px;
    }
    .privacy_policy_inner {
        h4 {
            font-weight: 700;
            font-size: 25px;
            margin: 10px 0px;
        }
    }
}
// @@@@@@@@@@@@@@ Privacy Policy end here @@@@@@@@@@@@@@@@@

