// @@@@@@@@@@@@@ Sub banner @@@@@@@@@@
.sub_banner {
    background-color: #084700;
    padding: 120px 0px;
    text-align: center;
    @include breakpoint(max-lg) {
        padding: 150px 0px 90px;
    }
    .sub_banner_inner {
        .sub_banner_content {
            color: $white-color;
            h2 {
                font-size: 60px;
                font-weight: 700;
                margin-bottom: 15px;
                @include breakpoint(max-sm) {
                    font-size: 40px;
                }
            }
            a {
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

// @@@@@@@@@@@@@ Sub banner @@@@@@@@@@