{% load static %}
<div class="header_top">
    <div class="header_left">
        <ul>
            <li>
                <span><i class="fa-solid fa-phone"></i></span>
                <span>{{ site_settings.phone }}</span>
            </li>
            <li>
                <span><i class="fa-solid fa-location-dot"></i></span>
                <span>{{ site_settings.address }}</span>
            </li>
            <li>
                <span><i class="fa-solid fa-envelope"></i></span>
                <span>{{ site_settings.email }}</span>
            </li>
        </ul>
    </div>
    <div class="header_right">
        <ul>   
            <li><a target="_blank" href="{{ site_settings.twitter }}"><i class="fa-brands fa-twitter"></i></a> </li>
            <li> <a target="_blank" href="{{ site_settings.linkedin }}"><i class="fa-brands fa-linkedin-in"></i></a> </li>
            <li><a target="_blank" href="{{ site_settings.facebook }}"><i class="fa-brands fa-facebook-f"></i></a></li> 
            <li><a target="_blank" href="{{ site_settings.instagram }}"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
<div class="header_bottom" id="menu_section">
    <div class="container"> 
        <div class="header_inner d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="/"><img src="{% static 'assets/images/header-logo.png' %}" alt="logo"></a>
            </div> 
            <nav class="primary_menu">
                <ul class="d-flex justify-content-between align-items-center">
                    <li><a class="active" href="index.html">Home</a></li>
                    <li><a href="product.html">Products</a></li>
                    <li><a href="about-us.html">About Us</a></li> 
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="our-vision.html">Our Vision</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul> 
            </nav>    
        </div> 
    </div>
</div>