{% load static %}
<!-- mobile menu -->
<div class="mobile_menu">
    <div class="mobile_menu_top"> 
        <div class="mobile_menu_top_left">
            <div class="mobile_logo">
                    <a href="index.html"><img src="{% static 'assets/images/header-logo.png' %}" alt="logo"></a>
            </div>
        </div>
        <div class="mobile_menu_top_right">
            <span>
                    <i class="fa-solid fa-xmark"></i>
                    <i class="fa-solid fa-bars-staggered"></i>
            </span>
        </div> 
    </div>
    <div class="mobile_menu_bottom">
        <div class="main_mobile_menu">
            <ul> 
                <li><a class="mb_active" href="index.html">Home</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="about-us.html">About Us</a></li> 
                <li><a href="blog.html">Blog</a></li>
                <li><a href="our-vision.html">Our Vision</a></li>
                <li><a href="contact.html">Contact</a></li> 
            </ul> 
        </div>  
    </div>
</div>
<!-- mobile menu -->