{%  extends "base.html" %}
{% load static %}

{% block content %}

    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->


    <!-- mobile menu -->
    {% include "inc/mobile_menu.html" %}
    <!-- mobile menu -->


    <!-- banner section start here -->
    <div class="subbanner">
        <!-- header section start here -->
        <div class="header_section"> 
            <div class="container"> 
                {% include 'inc/main_menu.html' %}
            </div> 
        </div>
        <!-- header section end here -->
        <div class="subbanner_content_wrapper" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
                <div class="subbanner_content">
                    <h2>Product Details</h2>
                    <p><a href="/">Home </a> > <span>Product Details</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end here -->
  
    <!-- product details section start here -->
    <div class="product_details" style="margin-bottom: 100px">
        <div class="container">
            <div class="product_details_inner"> 
                <div class="product_thumb">
                    <img style="border-radius: 20px" src="{{ product.image.url }}" alt="product_details_image">
                </div>
                <div class="product_info">
                    <h2>{{ product.product_title }}</h2>
                    <h4>Brand: <span>{{ product.brand_name }}</span></h4>
                    <p>Status: 

                        {% if product.stock > 0 %}
                            <span>In Stock</span>
                        {% else %}
                            <span style="color: red !important">Stock Out</span>
                        {% endif %}
                    </p>
                </div>
                <div class="price_card">
                    <h3>Price in Bangladesh: ৳ {{ product.product_price }}</h3>
                    <p>{{ product.description|safe }}</p>
                </div>
                <div class="description">
                    {{ product.price_logn_description|safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- product details section end here -->


{% endblock %}